<header>
        <div class="container">
            <nav>
                <a href="/" class="logo">
                    <i class="icon ion-md-restrurant"></i>
                </a>
                <ul class="nav-list">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#">courses
                            <i class="icon ion-md-arrow-dropdown"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                Mechanical
                            </li>
                            <li>
                                Electrial
                            </li>
                            <li>
                                computer Science
                            </li>
                            <li>
                                IT
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">staffs</a>
                    </li>
                    <li class="btn"> <a href="/login">Log in</a></li>
                    <!-- <button class="move-right btn">Log in </button> -->
                </ul>
            </nav>
        </div>
    </header>