<div class="regform">
    <h1> <strike>Registration Form</strike>
        <hr>
        <hr>
    </h1>
</div>

<div class="main">
    <Form>
        <div id="name">
            <h2 class="name">Name :</h2>
            <input class="firstname" type="text" name="first_name"><br>
            <label class="firstlabel">First name</label>
            <input class="lastname" type="text" name="last_name">
            <label class="lastlabel">Last name</label>
        </div>

        <h2 class="name">Company Name :</h2>
        <input class="company" type="text" name="company">

        <h2 class="name">Email.Id :</h2>
        <input class="email" type="text" name="email">

        <h2 class="name">Phone No. :</h2>
        <input class="code" type="text" name="area_code">
        <label class="area-code">Area Code</label>
        <input class="number" type="text" name="phone">
        <label class="phonenumber">phone number</label>

        <h2 class="name">Subject :</h2>
        <select class="option" name="subject">
            <option disabled="disabled" selected="selected">--choose option--</option>
            <option> C</option>
            <option> Java</option>
            <option> Python</option>
            <option> Html</option>

        </select>

        <h2 id="student">Are u Beginner ??</h2>
        <label class="radio">
            <input class="radio-one" type="radio" name="">
            <span class="checkmark"></span>
            yes
        </label>
        <label class="radio">
            <input class="radio-two" type="radio" name="">
            <span class="checkmark"></span>
            No
        </label>
        <br>
        <button class="button" type="submit">Register</button>
    </form>
</div>