<header>
    <div class="container">
        <nav>
            <ul class="nav-list">
                <li>
                    <a href="/studentDashboard">Home</a>
                </li>
                <li>
                    <a href="/studentShowResult?id={{student.rollno}}">Result</a>
                </li>
                <li class="btn"> <a href="/index">Log out</a></li>
                <!-- <button class="move-right btn">Log in </button> -->
            </ul>
        </nav>
    </div>
</header>