<div class="input_details">
    <div class="input_box">
        <span class="details">Full Name</span>
        <input type="text" id="fullName" name="fullname" placeholder="Enter Full Name" required>
    </div>
    <div class="input_box">
        <span class="details">Email Id</span>
        <input type="email" id="email" name="email" placeholder="Enter Email Id" required>
    </div>
    <div class="input_box">
        <span class="details">Roll No</span>
        <input type="number" id="rollNo" name="rollno" placeholder="Enter Roll No" required>
    </div>
    <div class="input_box">
        <span class="details">Mobile No</span>
        <input type="number" id="mobileNo" name="mobileno" placeholder="Enter Mobile Number" required>
    </div>
    <div class="input_box">
        <span class="details">Password</span>
        <input type="text" id="password" name="password" placeholder="Enter password" required>
    </div>
    <div class="input_box">
        <span class="details">Confirm Password</span>
        <input type="text" id="Confirm password" name="confirmpassword" placeholder="Enter Confirm password" required>
    </div>
    <div class="input_box">
        <span class="details">Department</span>
        <select class="option" id="department" name="department">
            <option disabled="disabled" selected="selected">--choose option--</option>
            <option> Mechanical</option>
            <option> EE</option>
            <option> EEE</option>
            <option> Computer science</option>
            <option> ETC</option>
            <option> IT</option>
        </select>
        {{!-- <input type="text" id="fullName" name="fullName" placeholder="Enter Full Name" required> --}}
    </div>
    <div class="input_box">
        <span class="details">Section</span>
        <input type="text" id="section" name="section" placeholder="Enter section" required>
    </div>
    <div class="input_box">
        <span class="details">Year</span>
        <input type="number" id="year" name="year" placeholder="Enter Year" required>
    </div>
    
    <div class="input_box">
        <span class="details">Gender</span>
        <div class="gender_option">
            <input type="radio" name="gender" value="male" checked>
            <span>Male</span>
            <input type="radio" name="gender" value="female">
            <span>Female</span>
        </div>
    </div>
</div>
<div class="button">
    <input type="submit" value="Submit">
</div>

