<tr>
    <td>1</td>
    <td>username</td>
    <td>787</td>
    <td>Mechanical</td>
    <td>useremail@gmail.com</td>
    <td>4545324</td>
    <td>Male</td>
    <td>
        <a href="/studentDatabaseEdit" class="btn btn_update">
            <span><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn btn_delete">
            <span><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>