*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.836);
}
.loginContent{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 370px;
    transform: translate(-50%,-50%);
    text-align: center;
    /* z-index: 1; */
    padding: 60px 32px;
    background: rgba(0, 0, 0, 0.192);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.85);
}
.loginContent header{
    color: #12efff;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 1.1rem 0;
    font-family: sans-serif;
}
hr{
    border-top: 1px solid whitesmoke;
    margin: 2rem 0.8rem;
}
.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    /* background: rgba(255, 255, 255, 0.94); */
}

.field span{
    color: #12efff;
    width: 50px;
    line-height: 45px;
}
.field span .fa{
    height: 30px;
    width: 30px;
}
.field input{
    padding: 1rem;
    text-align: center;
    height: 100%;
    width: 75%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #12efff;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: sans-serif;
}
.space{
    margin-top: 16px;
}
.pass{
    text-align: left;
    margin: 10px 20px 20px 10px;
}
.pass a{
    font-size: 12px;
    color: white;
    font-family: sans-serif;
    /* poppins */
    text-decoration: none;
}
.pass:hover a{
    text-decoration: underline;
}

button{
    margin-left: 4rem;
    width: 60%;
    background: #12efff;
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    background: transparent;
    color: #12efff;
    border: 1px solid #0fd9e0;
}

