*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.849);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    /* background: #ede7f6; */
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
header .container{
    width: 100%;
    /* max-width: 117rem; */
    margin: 0 auto;
    padding: 0 2.5rem;

}

.menu-icons{
    color: #eee;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.logo{
    width: 5rem;
    height: 5rem;
    background-color: #eb3007;
    display: flex;
    border-radius: 100%;
    margin-right: 5rem;
}
.logo i{
    margin: auto;
    font-size: 3rem;
    color: #eee;
}
.nav-list{
    display: flex;
    width: 100%;
    align-items: center;
}
.nav-list li{
    line-height: 8rem;
    position: relative;
}
.sub-menu li{
    line-height: 4rem;
    color: #eee;
}
.nav-list a{
    display: block;
    color: #eee;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 650ms;
}
.nav-list a:hover{
    color: #eb3007;
}
.btn{
    height: 4rem;
    margin: auto 0 auto auto;
    /* padding: 1.3rem; */
    display: inline-block;
    background-color: #eb3007;
    border: 2px solid #eb3007;
    color: #eee;
    border-radius: 10px;
    transition: background-color 650ms;
}
.btn a{
    height: 4rem;
    line-height: 4rem;
}
.btn:hover{
    color: #eb3007;
    background-color: rgba(0, 0, 0, 0.2);
}
.sub-menu{
    width: 20rem;
    padding: 15px;
    display: block;
    position: absolute;
    font-size: 15px;
    border-top: 3px solid #eb3007;
    background-color: #191919;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    top: 16rem;
    transition: all 650ms ease;
}
.sub-menu::before{
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent ;
    border-bottom-color: #eb3007;
}
.nav-list li:hover > .sub-menu{
    top: 8rem;
    opacity: 1;
    visibility: visible; 
}

section .title{
    font-size: 50px;
    margin-top: 15rem;
    color: white;
}

footer{
    margin-top: auto;
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    /* display: flex; */
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec{ 
    margin-right: 30px;
}

footer .container .sec.aboutus{
    width: 40%;

}
footer .container .sec h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer h2:before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p{
    color: #999;
}

.sci{
    margin-top: 20px;
    display: flex;
}
.sci li{
      list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content:center ;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.sci li a:hover{
    background: #f00;
}
.sci li a .fa{
    color: #fff;
    font-size: 20px;
}
.quicklink{
    position: relative;
    width: 25%;
}
.quicklink ul li{
    list-style: none;

}
.quicklink ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quicklink ul li a:hover{
    color: #fff;
}
.contact{
    width: cal(35%-60px);
    margin-right: 0 !important;

}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;

}
.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;

}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}
.contact .info li a:hover{
    color: #fff;
}
.copyright{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

.initial_container{
    /* padding: 25px 30px; */
    display: flex;
    flex-direction: column;
    width: 370px;
    text-align: center;
    padding: 60px 25px;
    background: rgba(255, 255, 255, 0.815);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.85);
    border-radius: 5px;
}
.initial_container button{
    height: 3.5rem;
    width: 100%;
    margin: 0.7rem auto;
    background-color: #111;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.3rem;
    text-align: center;
}
.initial_container button:hover{
    color: #111;
    background-color: white;
    border: 2px solid #111;
    font-size: 1.4rem;
    font-weight: 600;
}

/* registration */
.form_container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;

}
.form_container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.form_container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 50px;
    background: #eb3007;
}

.form_container form .input_details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .input_details .input_box{
    margin-bottom: 15px;
    width: calc(95% / 2);
}

.input_details .input_box .details{
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}


.input_details .input_box input,select{
    margin: 0 5px;
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 12px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

form .gender_option{
    margin-top: 15px;
    font-size: 14px;
    display: flex;
}

.input_details .input_box .gender_option input{
    height: 20px;
    width: 20%;
}

form .button{
    height: 40px;
    margin: 10px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    background-color: #eb3007;
    border: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 10px;
}
form .button input:hover{
    background-color: #fff;
    border: 1px solid #eb3007;
    color: #eb3007;
}

@media (max-width:991px){
    footer{
        padding: 40px;
    }
    footer .container{
        flex-direction: column;
    }
    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus,.quicklink,.contact{
        width: 100%;
    }
    .copyright{
        padding: 8px 40px;
    }
}
